{% extends 'layout.html' %}
{% load crispy_forms_tags %}


{% block body %}
    


<center>
    <h3> KAYIT OL</h3> <hr>


    <div class="row">
        <div class="col-md-3 offset-md-4">
            <form method="post">

                {% csrf_token %}
                
                {{form|crispy}}
                <br>
                <button type="submit" class="btn btn-danger"> Kayıt Ol </button>
            </form>
            
        </div>
      </div>
    
</center>
{% endblock body %}
    